/* .dropdown-menu {
  width: 200px;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;
  background-color: red !important;
}
.dropdown-menu li {
  background-color: teal !important;
  cursor: pointer;
}
.dropdown-menu li:hover {
  background-color: tomato !important;
}
.dropdown-menu.clicked {
  display: none;
}
.dropdown-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  list-style: none;
  color: #007bff;
  padding: 5px;
} */

.dropDownList {
  background-color: rgb(255, 255, 255) !important;
  border-radius: 5px;
}

.dropDownItem {
  list-style-type: none;
  padding: 10px;
}
