.bg-navbar{
  /* background: linear-gradient(26deg, #788399 2.77%, #adbad8 21.93%, #9fb4a7 60.12%, #9ea9a5 101.5%); */
    /* background-color: burlywood; */
    background-color: #fff;
    position: sticky !important;
    background: #fff;
}
.menu{
background-color: #81B938!important;
}

.me-auto{
    /* align-items: center;
    background-color: #81B938; */
    border-radius: 20px;
    align-items: center;
    background: #fff;
    padding:10px;
    /* border-radius: 1px 40px 1px 40px; */
}

#collasible-nav-dropdown{
    color: #000;
    font-family: fantasy;
    font-size: 20px;
}

.text-dropdown{
    color: #000;
    font-family: fantasy;
    font-size: 16px;
}

.nav-text{
    /* color: white!important; */
    color: #000!important;
    font-size: 20px;
    /* margin-right: 10px; */
    text-decoration: none!important;
    font-family: fantasy;
    padding: 1px 15px 1px 15px
}

@media screen and (max-width:768px) {
    
    .nav-link.active {
        color: #fff !important;
        padding: 7px 15px 7px 15px!important;
      }
}

.nav-text-dropdown{
    font-family: fantasy!important;
}

.nav-link {
    /* display: block; */
    padding: 0.5rem 1rem;
}


.label-div {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    
  }
  .active {
    color: #fff !important;
    background-color: orange;
    border-radius: 10px;
  }


  .nav-item-text{
    font-family: 'Poppins';
    font-style: normal;
    font-size: 19px;
    color: #fff;
    font-weight: bold;
    margin: 0 2rem;
    text-decoration: none;
    margin: 5px 1rem;
    font-size: 20px;
}

.nav-item-text:hover{ 
    text-decoration: none;
    color: #fff;
    background-color: orange;
    border-radius: 10px;
}


.txtLabel1 {
    margin-left: inherit;
    margin-right: 0;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
  }

  .first{
      font-size: 90px;
  }
  .second{
    font-size: 70px; 
  }
  .third{
    font-size: 50px; 
  }


  .nav-design{
    justify-content: end;
    background-color: darkorange;
    padding: 30px;
    border-radius: 100px 1px 100px 1px;
  }
